* {
  margin: 0;
}
.swiper-wrapper {
  display: flex !important;
  align-items: center !important;
}
.swiper-button-prev:after {
  color: #065f46;
}
.swiper-button-next::after {
  color: #065f46;
}

.about-section {
  .team-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    background-color: #d6d3d1;
  }
}

.team-item {
  width: clamp(15rem, calc(22rem + 2vw), 24rem);
  border-radius: 1.5rem;
  background-color: #afbdb1;
  border-width: 4px;
  border-color: #065f46;
  text-align: center;
  padding: 1rem;
  color: #e0f2fe;
  transition: border-color 0.3s ease;
  margin-top: 75px;
  margin-bottom: 75px;
}

.team-item:hover {
  border-color: #6ee7b7;
}

.team-title {
  padding: 1rem;
  h3 {
    font-size: 1.8rem;
    color: #0d9488;
  }
}

.team-img {
  width: 14rem;
  height: 14rem;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: white;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
  margin: 0 auto;
}

.team-info {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #052e16;
  .team-icon {
    margin-top: 30px;
    display: flex;
    list-style: none;
    justify-content: space-around;
    padding: 1rem 1rem 0;
    background-color: white;
    border-radius: 2rem;

    li {
      padding: 0.5rem;
      margin: 0 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #c3d2d6;
      }
    }
  }
}

@media only screen and (max-width: 1120px) {
  .about-section .team-section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
